.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e4ede3;
  font-family: 'Inter', sans-serif;

  .auth-content {
    background-color: #ffff;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    h2 {
      text-align: center;
      margin: 0;
      margin-bottom: 16px;
      font-family: 'Inter', sans-serif;
      font-size: 20px;
    }

    .form-group {
      display: flex;
      flex-direction: column;
      margin: 8px 0 16px 0;

      label {
        margin-bottom: 4px;
        font-family: Inter;
        font-weight: 700;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
      }

      input {
        min-width: 20vw;
        border: 1px solid #dee9ea;
        border-radius: 8px;
        padding: 15px 16px;
        font-size: 16px;
        color: #8b8b8b;
      }
    }

    button {
      background-color: #47a138;
      color: #ffff;
      border-radius: 8px;
      font-family: Inter;
      font-weight: 700;
      font-style: Bold;
      font-size: 16px;
      border: none;
      padding: 10px 20px;
      font-family: 'Inter', sans-serif;
    }

    span{
        margin-bottom: 20px;
        text-align: center;
        a{
            color: #47a138
        }
    }

  }
}
